<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/if_avaliar?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.show_sql">true</property>
    
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    <mapping class="br.edu.ifnmg.avaliar.entity.DatabaseVersion"></mapping>
    <mapping class="br.edu.ifnmg.avaliar.entity.Categoria"></mapping>
    <mapping class="br.edu.ifnmg.avaliar.entity.Configuracao"></mapping>
    <mapping class="br.edu.ifnmg.avaliar.entity.Questao"></mapping>
    <mapping class="br.edu.ifnmg.avaliar.entity.Questionario"></mapping>
    <mapping class="br.edu.ifnmg.avaliar.entity.Resposta"></mapping>
    <mapping class="br.edu.ifnmg.avaliar.entity.Usuario"></mapping>
    
    
  </session-factory>
</hibernate-configuration>
